@import "mixins"

body
  box-sizing: border-box
  padding-top: 65px
  @include adaptive(768px)
    padding-top: 60px
  @include adaptive(1024px)
    padding-top: 86px

.main
  margin-top: 10px
  @include adaptive(1280px)
    margin-top: 24px

.route
  margin-bottom: 16px

.form-section
  display: block
  background-color: white
  box-sizing: border-box
  padding-top: 18px
  margin-bottom: 42px
  @include adaptive(768px)
    @include shadow
    border-radius: 8px
    padding-top: 58px
    padding-bottom: 47px
    margin-bottom: 63px
    &__form-body
      max-width: 368px
      @include centerMargin
  @include adaptive(1280px)
    padding-bottom: 57px
    margin-bottom: 76px
  &__form-title
    font-size: 15px
    line-height: 18px
    font-weight: 700
    padding-left: 21px
  &__submit
    border: 0
    padding: 0
    font-size: 14px
    line-height: 16px
    font-weight: 700
    height: 50px
    @include adaptive(768px)
      margin-left: auto
      margin-right: auto
      width: 229px
  &__form-title + &__form-block
    margin-top: 27px
  &__form-block + &__form-title
    margin-top: 35px
  &__form-title + &__form-file
    margin-top: 14px
  &__form-file + &__submit
    margin-top: 29px
  .search
    &:not(:last-child)
      margin-bottom: 18px
  .input-line
    @include flex
    @include flex-setting(flex-start, center)
    & > *:first-child
      width: 117px
      margin-right: 18px
    & > .type
      height: 100%
    & > *:nth-child(2)
      width: calc(100% - 135px)
  &__form-file
    border-radius: 7px
    box-sizing: border-box
    border: 1px dashed rgba(151,151,151,0.37)
    min-height: 187px
    cursor: pointer
    position: relative
    @include flex(row, wrap)
    padding: 9px 0 0 9px
    background-color: white
    will-change: border-width, background-color
    transition: border-width .25s ease-out, background-color .25s ease-out
    &.highlight
      border-width: 3px
      background-color: rgba(151,151,151,0.12)
  &__file-input
    position: absolute
    opacity: 0
    width: 0
    height: 0
  &__file-item
    box-sizing: border-box
    padding-top: 43px
    position: relative
    font-size: 8px
    line-height: 10px
    text-align: center
    margin-right: 9px
    margin-bottom: 9px
    width: 65px
    height: 65px
    &:after
      content: ''
      position: absolute
      left: 50%
      top: 0
      transform: translateX(-50%)
      width: 45px
      height: 33px
      background-size: 45px 33px
      background-image: url("../img/image-icon.svg")
  &__delete-file
    display: block
    cursor: pointer
    position: absolute
    top: -5px
    right: 2px
    width: 20px
    height: 20px
    border-radius: 50%
    border: 1px solid $blue
    background-color: white
    background-image: url("../img/close.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: 8px 8px
    will-change: background-color
    transition: background-color .25s ease-out
    z-index: 5
    &:hover
      background-color: $blue
      background-image: url("../img/close-white.svg")
  &__form-file &__text
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    box-sizing: border-box
    padding-top: 48px
    text-align: center
    width: 134px
    font-size: 14px
    line-height: 16px
    &:after
      content: ''
      position: absolute
      left: 50%
      top: 0
      transform: translateX(-50%)
      width: 45px
      height: 33px
      background-size: 45px 33px
      background-image: url("../img/image-icon.svg")

.we-can
  margin-bottom: 15px
  @include adaptive(768px)
    margin-bottom: 40px
  @include adaptive(1280px)
    margin-bottom: 60px