@import "mixins"

body
  padding-top: 1075px
  @include adaptive(768px)
    padding-top: 626px
  @include adaptive(1024px)
    padding-top: 686px

.orange-text
  color: $orange

.background
  position: absolute
  top: 0
  right: 0
  width: 96.875%
  height: 522px
  border-bottom-left-radius: 26px
  z-index: 1
  background-color: #ccaf95
  background-position: bottom 0 left 0
  background-repeat: no-repeat
  overflow: hidden
  color: white
  will-change: background-position, background-size
  &.animation
    animation: scaleBack5 1s 1 linear
  @include adaptive(568px)
    background-position: bottom 0 left -51px
    &.animation
      animation: scaleBack1 1s 1 linear
  @include adaptive(640px)
    background-position: bottom 0 left 0
    &.animation
      animation: scaleBack4 1s 1 linear
  @include adaptive(700px)
    &.animation
      animation: scaleBack2 1s 1 linear
  @include adaptive(768px)
    width: unset
    max-width: unset
    left: calc(2.6% + 334px)
    height: 594px
    background-position: bottom 0 left -57px
    &.animation
      animation: scaleBack3 1s 1 linear
  @include adaptive(1024px)
    background-size: 1183px 730px
    background-position: left -3px bottom 0
    height: 657px
    left: calc(50% - 160px)
    width: unset
    &.animation
      animation: scaleBack 1s 1 linear
  @include adaptive(1920px)
    width: 1134px
    right: unset
  &__shadow
    position: absolute
    width: 100%
    height: 100%
    background-color: black
    mix-blend-mode: normal
    opacity: 0.50
    z-index: 2
  &__title
    margin: 0
    position: absolute
    bottom: 226px
    left: 27px
    width: 259px
    font-weight: 900
    font-size: 36px
    line-height: 40px
    z-index: 3
    @include adaptive(480px)
      width: 62%
    @include adaptive(768px)
      bottom: 160px
      left: 48px
      width: 70.46%
      font-size: 41px
      line-height: 45px
    @include adaptive(1024px)
      font-size: 56px
      line-height: 53px
      left: 62px
      width: 456px
      bottom: 216px
    @include adaptive(1920px)
      bottom: unset
      top: 269px
      left: 63px
  &__text
    position: absolute
    top: 320px
    left: 27px
    width: 239px
    font-size: 16px
    line-height: 25px
    font-weight: 500
    z-index: 3
    @include adaptive(480px)
      width: 55.8%
    @include adaptive(768px)
      top: 457px
      left: 48px
      font-size: 14px
      line-height: 23px
      width: 72.40%
    @include adaptive(1024px)
      font-size: 16px
      line-height: 25px
      left: 62px
      width: 526px
      top: 507px
    @include adaptive(1920px)
      left: 63px
      top: 507px

@keyframes scaleBack1
  0%
    background-position: bottom 0 left -100px
    background-size: 756.8px 567.6px
  100%
    background-position: bottom 0 left -51px
    background-size: 688px 516px

@keyframes scaleBack4
  0%
    background-position: bottom 0 left -50px
    background-size: 756.8px 567.6px
  100%
    background-position: bottom 0 left 0
    background-size: 688px 516px

@keyframes scaleBack5
  0%
    background-position: bottom 0 left -50px
    background-size: 606.1px 567.6px
  100%
    background-position: bottom 0 left 0
    background-size: 551px 516px

@keyframes scaleBack2
  0%
    background-position: bottom 0 left -50px
    background-size: 859.1px 644.6px
  100%
    background-position: bottom 0 left 0
    background-size: 781px 586px

@keyframes scaleBack3
  0%
    background-position: bottom 0 left -110px
    background-size: 859.1px 644.6px
  100%
    background-position: bottom 0 left -57px
    background-size: 781px 586px

@keyframes scaleBack
  0%
    background-size: 1301.1px 803px
    background-position: left -50px bottom 0
  100%
    background-size: 1183px 730px
    background-position: left -3px bottom 0

.filter
  position: absolute
  width: 93.75%
  min-height: 477px
  box-sizing: border-box
  left: 3.125%
  top: 550px
  background-color: white
  border-radius: 16px
  padding: 29px 20px 22px
  @include shadow
  &.extended
    @include adaptive(768px)
      width: 624px
  @include flex(column, wrap)
  @include adaptive(445px)
    left: calc(100% - 431px)
    width: unset
    right: calc(100% - 431px)
  @include adaptive(480px)
    left: 80px
    width: calc(100% - 160px)
  @include adaptive(768px)
    height: 500px
    min-height: unset
    top: 98px
    left: 2.6%
    right: unset
    width: 315px
    min-width: 315px
    z-index: 10
  @include adaptive(1024px)
    top: 159px
  @include adaptive(1149px)
    left: calc(34.8% - 334px)
  @include adaptive(1197px)
    left: calc(100% - 1114.44px)
  @include adaptive(1280px)
    left: calc(50% - 511px)
  @include adaptive(768px)
    & > *
      max-width: 275px
  & > *:not(:last-child)
    margin-bottom: 20px
  .option
    width: 100%
    height: 36px
    border-radius: 7px
    background-color: rgba(216, 216, 216, 0.16)
    position: relative
    &__marker
      position: absolute
      width: 50%
      height: 100%
      border-radius: 7px
      background-color: $blue
      z-index: 4
      top: 0
      will-change: transform
      transform: translate3d(0)
      transition: transform .25s ease-in-out
      -webkit-appearance: none
      left: 0
      &:after
        content: ''
        position: absolute
        top: 15px
        left: 11px
        width: 6px
        height: 6px
        border-radius: 3px
        background-color: white
        z-index: 5
      &[data-pos='1']
        transform: translate3d(100%, 0, 0)
    &__choice
      position: absolute
      box-sizing: border-box
      width: 50%
      height: 100%
      top: 0
      z-index: 6
      background-color: transparent
      font-size: 15px
      line-height: 16px
      opacity: 0.27
      display: block
      text-align: center
      padding-top: 11px
      cursor: pointer
      will-change: color
      transition: color .25s ease-in-out
      -webkit-appearance: none
      &_rent
        left: 0
      &_sale
        right: 0
      &.active
        font-weight: 700
        opacity: 1
        color: white
  .more
    display: block
    &.hidden
      @include adaptive(768px)
        visibility: hidden
  .other-options
    display: none
    width: 100%
    &.active
      display: block
    & > *:not(.checkbox-list)
      margin-bottom: 20px
    & > .checkbox-list:not(:last-child)
      margin-bottom: 18px
    @include adaptive(768px)
      & > *
        max-width: 275px
      order: 1
      width: 330px
      max-width: unset
      height: 100%
      padding-left: 35px
      padding-right: 20px
      box-sizing: border-box
    .hide
      width: 100%
      height: 36px
      position: relative
      &__inner
        display: block
        height: 100%
        width: 35px
        border-radius: 7px
        background-color: rgba(216,216,216,0.16)
        position: absolute
        top: 0
        right: 0
        cursor: pointer
        will-change: background-color
        transition: background-color .25s ease-out
        &:after
          content: ''
          position: absolute
          top: 16px
          left: 15px
          width: 5px
          height: 5px
          background-image: url("../img/triangle-left.svg")
          background-size: contain
          cursor: pointer
        &:hover
          background-color: $blue
          &:after
            background-image: url("../img/left-white-triangle.svg")

.main-content
  @include flex(column)
  & > .clients
    order: 1
  & > .listing_1
    order: 2
  & > .gray-line
    order: 3
  & > .listing_2
    order: 4
  & > .we-can
    order: 5
    @include adaptive(1280px)
      order: 6
  & > .testimonials
    order: 6
    @include adaptive(1280px)
      order: 5

.clients
  margin-bottom: 20px
  @include adaptive(768px)
    margin-bottom: 24px
  @include adaptive(1280px)
    margin-bottom: 46px
  &__siema-wrapper_client
    max-height: 156px
    min-height: 107px
    width: 100%
    background-color: white
    border-radius: 15px
    overflow: hidden
    padding-top: 17px
    @include shadow
    box-sizing: border-box
      padding-left: 6.67%
      padding-right: 6.67%
    @include adaptive(321px)
      padding-left: 3.71%
      padding-right: 3.71%
    @include adaptive(768px)
      padding-top: 35px
      padding-bottom: 17px
  &__siema-wrapper_company
    width: 100%
    margin-bottom: 22px
    overflow: hidden
    max-height: 99px
    min-height: 45px
    box-sizing: border-box
    @include adaptive(768px)
      margin-bottom: 45px
    @include adaptive(1280px)
      margin-bottom: 54px
  &__siema-client
    width: 100%
    @include adaptive(480px)
      width: calc(100% + 30px)
      margin-left: -15px
    .client
      @include centerMargin
      display: none
      max-width: 78px
      &__image
        margin-bottom: 5.5px
        max-height: 45px
        min-height: 38px
        width: 100%
      @include adaptive(768px)
        max-width: 90px
        &__image
          min-height: 45px
      &__text
        font-size: 15px
        line-height: 18px
    &.active .client
      display: block
  &__siema-company
    @include maxAdaptive(479px)
      width: 90%
      @include centerMargin
    padding-top: 25px
    background-color: transparent
    overflow: hidden
    max-height: 99px
    min-height: 45px
    @include adaptive(768px)
      padding-top: 35px
    @include adaptive(1280px)
      padding-top: 45px
    .company
      display: none
      @include centerMargin
      max-width: 100px
      @include adaptive(1280px)
        max-width: 115px
      &__image
        width: 100%
        vertical-align: center
        min-height: 42.5px
        @include adaptive(1280px)
          min-height: 50px
    &.active .company
      display: block
  &__about
    @include flex(column)
    & > .info-card
      margin-bottom: 17px
      &:last-child
        margin-bottom: unset
    @include adaptive(768px)
      @include flex(row)
      @include flex-setting(space-between)
      & > .info-card
        margin-bottom: unset
        width: 31.5%
        padding: 35px
        @include flex-setting(space-between)
      .info-card
        &__icon
          margin-bottom: 18px
    @include adaptive(1090px)
      & > .info-card
        @include flex-setting(space-evenly)
        padding: 35px 0

.testimonials
  margin-top: 48px
  .slider__title
    margin-bottom: 13px
  @include adaptive(1280px)
    margin-top: 41px
  .testimonial
    display: none
    width: 99%
    @include centerMargin
    @include adaptive(768px)
      width: 95%
    @include adaptive(1280px)
      margin-top: 15px
      margin-bottom: 20px
  &__siema-wrapper
    overflow: visible
    min-height: 260px
    @include adaptive(1280px)
    width: calc(100% + 30px)
    margin-left: -15px
  &__siema
    &.active .testimonial
      display: block
    @include adaptive(1280px)
      width: 100%
      .testimonial
        width: 530px
        margin-left: 15px
        margin-right: 15px