include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title AllStars | 404
    link(rel='shortcut icon' href='img/favicon.png' type='image/png')
    link(rel="preload" href="css/404.css" as="style")
    link(rel="preload" href="img/404-number.svg" as="image")
    link(rel="preload" href="img/404-sun.svg" as="image")
    link(rel="preload" href="img/404-back.svg" as="image")
    link(rel="preload" href="img/404-oval.svg" as="image")
    link(rel="preload" href="img/404-bottom.svg" as="image")
    link(rel="preload" href="img/404-subbottom.svg" as="image")
    link(href="css/404.css" rel="stylesheet")
    script(defer src="js/404.js")
  body
    +top-menu('_inline', '_dark', '_shadow')
    +b.SECTION.main.content
      +e.description.animated Page not found....
      +e.A(href='#').button.show-animate Home
    +b.image-404
      +e.number
      +e.sun
      +e.back
      +e.oval
      +e.bottom
      +e.subbottom

    +footer