include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title AllStars | a4
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet")
    link(rel="preload" href="css/a4.css" as="style")
    link(href="css/a4.css" rel="stylesheet")
  body
    +b.MAIN.page
      +b.SECTION.header
        +e.IMG(src='img/Logo.svg' alt='Logo').logo
        +e.card
          +e.FIGURE.avatar
            +picture-not-lazy('img/woman.webp', 'img/woman.jpg', 'Avatar', 'header__image')
          +e.information
            +e.name Name Surname
            +e.speaks Speaks: Russian, Ukrainian, English
            +e.phones +38 044 22-33-177  +38 044 22-33-177
      +b.H1.title 2 bedroom Apartment for Sale in Kiev, Dilova Street 2B - ID 3435
      +b.SECTION.main
        +e.FIGURE.image-wrapper
          +picture-not-lazy('img/big-room.webp', 'img/big-room.png', 'Room', 'main__image')
        +b.block-text
          +e.top
            +e.text Tetris Hall
            +e.text_small._dim for example Shevchenko
            +e.text_small ID 1525755
          +e.middle
            +e.price-info
              +e.text_dim._small Sale
              +e.text_big._bold._orange $ 157 000
              +e.text_dim._small ($45/sqm)
            +e.price-info_tabulate
              +e.text_dim._small Rent per month/
              +e.text_big._bold $ 5 000
              +e.text_dim._small ($45/sqm)
          +e.footer
            +e.block_info
              +e.block-info
                each t in ['Bedrooms', 'Bathrooms', 'Size', 'Floor', 'Elevator', 'Building type']
                  +e.text_dim._tall= t
              +e.block-info
                each t in ['2', '2', '121sqm', '1', 'yes', 'modern']
                  +e.text_tall._bold= t
            +e.block_tags
              each t in ['Terrace', 'Outdoor sauna', 'Penthouse', 'Pool', 'Terrace', 'Outdoor sauna']
                +e.text_tall._tag= t
          +e.content
            +e.text_bold Description
            +e.text_strange 3 room apartment for rent and sale in Kiev in Goloseevskiy district, metro station Olimpiiska, Delovaya (Dimitrova) Street 2б , newly built building, 9 floor , 125 sq. m., renovated
            +e.text_strange 3 room apartment for rent and sale in Kiev in Goloseevskiy district, metro station Olimpiiska, Delovaya (Dimitrova) Street 2б , newly built building, 9 floor , 125 sq. m., renovated
        +e.FIGURE.image-wrapper
          +picture-not-lazy('img/big-room.webp', 'img/big-room.png', 'Room', 'main__image')
        +e.FIGURE.image-wrapper
          +picture-not-lazy('img/big-room.webp', 'img/big-room.png', 'Room', 'main__image')
        +e.FIGURE.image-wrapper
          +picture-not-lazy('img/big-room.webp', 'img/big-room.png', 'Room', 'main__image')
      +b.SECTION.postscriptum
        +e.contact All Star Kiev Realty
          br
          | +380-44-22-33-177 • contactus@allstar.com.ua
          br
          | 13-15 Bolsunovska Street, 8th floor, IQ Business Center, Kyiv
        +e.link http://www.allstarkievrealty.com/report_center.php?im_id=7342&lang_id=2&lang_code=en&file_type=print&t_im=rent
        +e.page Страница 1 из 1