include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title AllStars | application
    link(rel="preload" href="css/fonts/Roboto-Regular.ttf" as="font" crossorigin="anonymous")
    link(rel="preload" href="css/fonts/Roboto-Medium.ttf" as="font" crossorigin="anonymous")
    link(rel="preload" href="css/fonts/Roboto-Bold.ttf" as="font" crossorigin="anonymous")
    link(rel="preload" href="css/fonts/Roboto-Black.ttf" as="font" crossorigin="anonymous")
    link(rel="preload" href="css/application.css" as="style")
    link(rel="preload" href="js/application.js" as="script")
    link(href="css/application.css" rel="stylesheet")
    script.
      window.addEventListener("load",()=>document.querySelectorAll("[data-lazy]").forEach(d=>d.classList.add("loaded")));
  body
    +top-menu('_inline', '_dark', '_shadow')
    +b.SECTION(class='inline-filter-section' id='filter' v-if='isDesktop')
      +inline-filter
    +b.MAIN.main#main
      +b.SECTION.route.content
        +e.SPAN.button
        +e.P.line
          a(href='#') Home
          =' / '
          a(href='#') Apartments for Sale in Kiev
          =' / '
          a(href='#') Gonchara Street 26
      +b.SECTION.form-section.content
        +e.FORM.form-body
          +e.form-title Application for selection of real estate
          +e.form-block
            +b.search_gray
              +e.INPUT(type='text' placeholder='I want to' v-model='form.want').search-input
            +b.search_gray
              +e.INPUT(type='text' placeholder='Property type' v-model='form.prop').search-input
            +b.search_gray._textarea
              +e.TEXTAREA(wrap='soft' placeholder='Address' v-model='form.address').search-input
            +b.search_gray._textarea
              +e.TEXTAREA(wrap='soft' placeholder='Description' v-model='form.description').search-input
            +b.search_gray
              +e.INPUT(type='text' placeholder='Price' v-model='form.price').search-input
          +e.form-title Contacts
          +e.form-block
            +b.search_gray
              +e.INPUT(type='text' placeholder='Name*' v-model='form.name').search-input
            +b.search_gray
              +e.INPUT(type='text' placeholder='Surname*' v-model='form.surname').search-input
            +b.search_gray
              +e.INPUT(type='text' placeholder='E-mail*' v-model='form.email').search-input
            +b.search_gray.input-line
              +b.V-SELECT(class='type' :options='prefixList' v-model='form.prefix')
              +e.INPUT(type='text' placeholder='Phone*' v-model='form.phone').search-input
          +e.form-title Photo (attach)
          +e.DIV(@click='$refs.fileInput.click()').form-file
            +e.INPUT(class='file-input' ref='fileInput' type='file' accept="image/*" multiple @change='changeFileInput')
            +e.DIV(v-show='form.files.length === 0').text Select or drag a photo here
            +e.DIV(v-for='file in form.files' :key='file.name').file-item {{ file.name }}
          +e.BUTTON(type='submit').submit.show Submit
      +listings
    +footer

    script(src="js/application.js")