include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title AllStars | application
    link(rel='shortcut icon' href='img/favicon.png' type='image/png')
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet")
    link(rel="preload" href="css/application.css" as="style")
    link(href="css/application.css" rel="stylesheet")
    script(defer src="js/application.js")
  body
    +b.gotop
      +e.A().link
    div#app
      +top-menu('_inline', '_dark', '_shadow')
      +b.MAIN.main#main
        +b.SECTION.route.content
          +e.SPAN.button
          +e.P.line
            a(href='#') Home
            =' / '
            a(href='#') Apartments for Sale in Kiev
            =' / '
            a(href='#') Gonchara Street 26
        +b.SECTION.form-section.content
          +e.FORM.form-body
            +e.H1.form-header.animated Application for selection of real estate
            +e.form-block
              +b.search_gray.input-line
                +b.label I want to
                +b.V-SELECT(class='type' :options='[\'Sale\', \'Rent\']' v-model='form.want').search-input
              +b.search_gray.input-line
                +b.label Property type
                +b.V-SELECT(class='type' :options='[\'Property\', \'Another property\']' v-model='form.prop').search-input
              +b.search_gray._textarea
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.TEXTAREA(class='search-input' :class='{\'errored\': errors.length}' wrap='soft' name='address' placeholder='Address' v-model='form.address')
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +b.search_gray._textarea
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.TEXTAREA(class='search-input' :class='{\'errored\': errors.length}' name='description' wrap='soft' placeholder='Description' v-model='form.description')
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +b.search_gray
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(class='search-input' :class='{\'errored\': errors.length}' name='price' type='text' placeholder='Price' v-model='form.price')
                  p(v-show='errors.length').error-message {{ errors[0] }}
            +e.H2.form-title.animated Contacts
            +e.form-block
              +b.search_gray
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(class='search-input' :class='{\'errored\': errors.length}' name='name' type='text' placeholder='Name' v-model='form.name')
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +b.search_gray
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(class='search-input' :class='{\'errored\': errors.length}' name='surname' type='text' placeholder='Surname' v-model='form.surname')
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +b.search_gray
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(class='search-input' :class='{\'errored\': errors.length}' name='e-mail' type='text' placeholder='E-mail' v-model='form.email')
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +b.search_gray.input-line
                +b.V-SELECT(class='type' :options='prefixList' v-model='form.prefix')
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(class='search-input' :class='{\'errored\': errors.length}' name='phone' type='text' placeholder='Phone*' v-model='form.phone')
                  p(v-show='errors.length').error-message {{ errors[0] }}
            +e.H3.form-title.animated Photo (attach)
            +e.DIV(@click.self='$refs.fileInput.click()' ref='inputFileBox').form-file
              +e.INPUT(class='file-input' ref='fileInput' type='file' accept="image/*" multiple @change='changeFileInput($event.target.files)')
              +e.DIV(v-show='form.files.length === 0' @click.self='$refs.fileInput.click()').text Select or drag a photo here
              +e.DIV(v-for='file in form.files' :key='file.name').file-item {{ file.name | filterLength(15) }}
                +e.A(@click.prevent='deleteFile(file)').delete-file
            +e.BUTTON(type='submit').submit.show Submit
        +we-can('_row')
    +footer