include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title AllStars | contacts
    link(rel='shortcut icon' href='img/favicon.png' type='image/png')
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet")
    link(rel="preload" href="css/contacts.css" as="style")
    link(href="css/contacts.css" rel="stylesheet")
    script(defer src="js/contacts.js")
  body
    div#app
      +top-menu('_inline', '_dark', '_shadow')
      +b.MAIN.main#main
        +b.SECTION.route.content
          +e.SPAN.button
          +e.P.line
            a(href='#') Home
            =' / '
            a(href='#') Apartments for Sale in Kiev
            =' / '
            a(href='#') Gonchara Street 26
        +b.SECTION.information.content
          +e.block-contacts
            +e.H1.text_header.animated Contacts
            +e.text_icon._place._tall 13-15 Bolsunovskaya str., 8th floor, IQ business center, Kiev
            +e.text-wrapper
              +e.A(href='tel:+380442233177').text_icon._phone._tall +38 044 22-33-177
              +e.A(href='tel:+380442233177').text_icon._tall +38 044 22-33-177
            +e.A(href='mailto:info@allstar.com.ua').text_icon._email._dim._tall info@allstar.com.ua
            +e.text_big._bold To arrange an appointment in the office please call us in advance
          +e.block-cards
            each i in [1, 2, 3, 4]
              +b.contact-card
                +e.avatar
                  +e.FIFURE.image-wrapper
                    +picture('img/woman.webp', 'img/woman.jpg', 'Avatar', 'contact-card__image')
                +e.personal-info
                  +e.name Name Surname
                  +e.job Manager
                  +e.lngs Speaks: Russian, Ukrainian, English
                  +e.A(href='tel:+380442233177').phone_icon +38 044 22-33-177
                  +e.A(href='tel:+380442233177').phone +38 044 22-33-177
                  +e.A(href='mailto:info@allstar.com.ua').email mail@mail.com
          +e.block-form
            +e.text_big._bold.animated Write to us
            +e.block
              +b.search_gray
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(:class='{\'errored\': errors.length}' name='name' type='text' placeholder='Name' v-model='form.name').search-input
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +b.search_gray
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(:class='{\'errored\': errors.length}' name='surname' type='text' placeholder='Surname' v-model='form.surname').search-input
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +b.search_gray.input-line
                +b.V-SELECT(class='type' :options='prefixList' v-model='form.prefix')
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(:class='{\'errored\': errors.length}' name='phone' type='text' placeholder='Phone' v-model='form.phone').search-input
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +b.search_gray
                validation-provider(rules='required' v-slot='{ errors }')
                  +e.INPUT(:class='{\'errored\': errors.length}' name='e-mail' type='text' placeholder='E-mail' v-model='form.email').search-input
                  p(v-show='errors.length').error-message {{ errors[0] }}
            +e.block
              validation-provider(rules='required' v-slot='{ errors }')
                +b.search_gray._textarea._big
                  +e.TEXTAREA(:class='{\'errored\': errors.length}' name='message' wrap='soft' placeholder='Message' v-model='form.message').search-input
                  p(v-show='errors.length').error-message {{ errors[0] }}
              +e.BUTTON.submit.show Submit
    +footer